.gs-color{
	color: #219ab5;
}
.gs-white {
	color : #FFF;
}
.darkbo-h3 {
	color :#CCC;
	font :   "Roboto Regular";
}
.darkbo .form-control, .form-control.darkbo, .darkbo figure pre, pre.darkbo {
	background-image : linear-gradient(90deg, #272B42, #414968);
	color :#FFF;
	font :  1em "Roboto Regular";
	border : 2px solid #414968;
    -moz-border-radius : 5px;
	-webkit-border-radius : 5px;
	-o-border-radius : 5px;
}

.darkbo .input-group-addon, .input-group-addon.darkbo {
	padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
    text-align: center;
    background-image : linear-gradient(90deg, #414968, #272B42);
    border : 2px solid #414968;
    border-radius: 4px;
}
.darkbo .form-control:focus, .form-control.darkbo:focus {
	background-image: linear-gradient(0deg, #FFF, #FFF);
}
.darkbo select:focus {
    background-image : linear-gradient(90deg, #272B42, #414968)!important;
}
.darkbo .form-control:focus, form-control.darkbo:focus {
    color: #A1A9BF;
}
input::-webkit-input-placeholder {
color : white !important;
}
 
input:-moz-placeholder {
color : white !important;  
}
 
input::-moz-placeholder {
color : white !important;  
}
 
input:-ms-input-placeholder {  
color : white !important;  
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(204,204,204,0.7); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 10px rgba(204,204,204,0.5); 
}
.form-group.darkbo{
	padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #FFF;
    text-align: left;
    background-image : linear-gradient(90deg, #414968, #272B42);
    border : 2px solid #414968;
    border-radius: 4px;
}
.js .box .form-control {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.darkbo .box .form-control + label, .box .form-control.darkbo + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    font :  1em "Roboto Regular";
    color: #a44852;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.darkbo .form-control, .form-control.darkbo:focus + label,
.darkbo .box .form-control.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.darkbo .form-control + label svg, .form-control.darkbo + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
.darkbo .box .form-control:focus + label,
.darkbo .box .form-control.has-focus + label,
.darkbo .box .form-control + label:hover {
    color: #8c3844;
}

/*********************Bouttons**********************/

.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-3d {
	display: block;
	background: #5cbcf6;
	outline: 1px solid transparent;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.btn-3d:active {
	background: #55b7f3;
}
.btn-3d-1 {
	background: #fff;
	color: #999;
}

.btn-3d-1:active {
	background: #fff;
}
.btn-3d-1:after,
.btn-3d-1:before {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
}

.btn-3d-1:after {
	top: -98%;
	background: #219ab5;
	color: #FFF;
    font :  1em "Roboto Regular";
    line-height: 30px;
	content: 'Save';
	-webkit-transform-origin: 0% 100%;
	-webkit-transform: rotateX(90deg);
	-moz-transform-origin: 0% 100%;
	-moz-transform: rotateX(90deg);
	-ms-transform-origin: 0% 100%;
	-ms-transform: rotateX(180deg);
	transform-origin: 0% 100%;
	transform: rotateX(90deg);
}
.btn-3d-1.btn-default-3d:hover {
	background: #CCC;
    color: #FFF;
	-webkit-transform-origin: 50% 100%;
	-webkit-transform: rotateX(-90deg) translateY(100%);
	-moz-transform-origin: 50% 100%;
	-moz-transform: rotateX(-90deg) translateY(100%);
	-ms-transform-origin: 50% 100%;
	-ms-transform: rotateX(-90deg) translateY(100%);
	transform-origin: 50% 100%;
	transform: rotateX(-90deg) translateY(100%);
}
.darkbo .btn-default, .btn-default.darkbo {
	font :  1em "Roboto Regular";
	color: #FFF;
	background-color: #32c4c4;
	border: none;
    overflow: hidden;
    position: relative;
    transition-duration: 0.4s;
}
.darkbo .btn-default:hover, .btn-default.darkbo:hover {
	background-color: #21a39f;
	color: #FFF;
	font :  1em "Roboto Regular";
	border: none;
}
.darkbo .btn-default:after, .btn-default.darkbo:after {
	content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -1.5em !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
.darkbo .btn-default:active:after, .btn-default.darkbo:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.darkbo .btn-default:focus, .btn-default.darkbo:focus {
	background-color: #32c4c4;
	color: #FFF;
}
.darkbo .btn-info, .btn-info.darkbo {
	font :  1em "Roboto Regular";
	color: #FFF;
	background-color: #219ab5;
	border: solid 2px #219ab5;
    transition-duration: 0.4s;
}
.darkbo .btn-info:hover, .btn-info.darkbo:hover {
	background: rgba( 33, 154, 181, 0);
	border: solid 2px #219ab5;
	color: #219ab5;
}
.darkbo .btn-info:focus, .btn-info.darkbo:focus {
	background-color: #219ab5;
	border: solid 2px #219ab5;
	color: #FFF;
}
.darkbo .btn-info:after, .btn-info.darkbo:after {
    transition: all 0.8s;
}
.darkbo .btn-warning, .btn-warning.darkbo {
	background: rgba( 164, 72, 82, 0);
	color: #A44852;
	border: solid 2px #A44852;
	padding: 1em 1.5em;
    transition-duration: 0.4s;
}
.darkbo .btn-warning span, .btn-warning.darkbo span {
  	font :  1em "Roboto Regular";
  	display: inline-block;
  	position: relative;
}
.darkbo .btn-warning span:after, .btn-warning.darkbo span:after {
  	position: absolute;
  	opacity: 0;
  	top: 0;	
    transition: all 0.8s;
}
.darkbo .btn-warning:hover, .btn-warning.darkbo:hover {
	background: rgba( 164, 72, 82, 1);
	border: solid 2px #A44852;
}
.darkbo .btn-warning:hover span, .btn-warning.darkbo:hover span {
  	color: #FFF;
}
.darkbo .btn-warning:hover span:after, .btn-warning.darkbo:hover span:after {
  	opacity: 1;
  	right: 0;
}
.darkbo .btn-warning:focus, .btn-warning.darkbo:focus {
	background: rgba( 164, 72, 82, 1);
	border: solid 2px #A44852;
	color: #FFF;
}
.darkbo .btn-warning:focus:active, .btn-warning.darkbo:focus:active {
	background: rgba( 164, 72, 82, 1);
	border: solid 2px #A44852;
    color: #A44852;
}
.darkbo .btn-success, .btn-success.darkbo {
	background: rgba( 13, 110, 178, 0);
	font :  1em "Roboto Regular";
	border: solid 2px #0d6eb2;
    color: #0d6eb2;
    transition-duration: 0.4s;
}
.darkbo .btn-success:hover, .btn-success.darkbo:hover {
	background: rgba( 13, 110, 178, 1);
	border: solid 2px #0d6eb2;
	color: #FFF;
}
.darkbo .btn-success:focus:active, .btn-success.darkbo:focus:active {
	background-color: #0d6eb2;
	color: #FFF;
}
.darkbo .btn-success:focus, .btn-success.darkbo:focus {
	background-color: #0d6eb2;
	color: #FFF;
}
.darkbo .btn-danger, .btn-danger.darkbo {
	font :  1em "Roboto Regular";
	color: #FFF;
	background-color: #D60000;
	border: none;
    overflow: hidden;
    position: relative;
    transition-duration: 0.4s;
}
.darkbo .btn-danger:hover, .btn-danger.darkbo:hover {
	background-color: #A82720;
	color: #FFF;
	font :  1em "Roboto Regular";
	border: none;
}
.darkbo .btn-danger:after, .btn-danger.darkbo:after {
	content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -1.5em !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
}
.darkbo .btn-danger:active:after, .btn-danger.darkbo:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
}
.darkbo .btn-danger:focus, .btn-danger.darkbo:focus {
	background-color: #D60000;
	color: #FFF;
}
.darkbo input[type="radio"], input[type="radio"].darkbo, .darkbo input[type="radio"]:after, input[type="radio"].darkbo:after {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
   border-radius: 100%;
}
.darkbo .toggle, .toggle.darkbo {
  float:left;
  width: 20px;
  height: 20px;
  padding: 4px;
  text-align: center;
  background: #191919;
  background: -webkit-linear-gradient(top, #414968 0%, #272b42 100%);
  background: -moz-linear-gradient(top, #414968 0%, #272b42 100%);
  background: -o-linear-gradient(top, #414968 0%, #272b42 100%);
  background: -ms-linear-gradient(top, #414968 0%, #272b42 100%);
  background: linear-gradient(top, #414968 0%, #272b42 100%);
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%;

  margin: auto 10px;
  border: 1px solid #219ab5; 
  -webkit-appearance: none;

  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline:none;
  box-shadow: 0px 0px 4px 4px rgba(33, 154, 181, 0.2);
}

.darkbo .toggle:hover, .toggle.darkbo:hover {
    cursor: pointer;
    box-shadow: 0px 0px 4px 4px rgba(33, 154, 181, 0.3);
}

.darkbo .toggle:checked, .toggle.darkbo:checked {
    box-shadow: 0px 0px 4px 4px rgba(33, 154, 181, 0.4);
}
.darkbo .toggle:after, .toggle.darkbo:after {
    content: '';
    text-shadow: 0 -1px 0 #bfbfbf;
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    margin: auto;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.darkbo .toggle:checked:after, .toggle.darkbo:checked:after {
    color: #85ada7;
    text-shadow: 0 1px 0 #669991;
    box-shadow: 0px 0px 4px 4px rgba(33, 154, 181, 0.2);
    background: #FFF;
    border: solid 1px #219ab5;
}
.darkbo .panel-default, .panel-default.darkbo {
	background-color: #FFF;
}
.darkbo .panel-heading, .panel-heading.darkbo {
	background-image : linear-gradient(90deg, #272B42, #414968) !important;
}
.darkbo .panel-title, .panel-title.darkbo {
	color: #FFF;	
}
.darkbo a[data-toggle="collapse"] {
	line-height: 1;
	color: #FFF;
	text-decoration: none;
}
.darkbo a[data-toggle="collapse"] i:after {
	content: '\f0d7';
	margin-left: 10px;
}
.darkbo a[aria-expanded="true"] i:after {
	content: '\f0da';
	margin-left: 10px;
}
.darkbo .badge, .badge.darkbo {
	background-color: #FFF !important;
	color: #219ab5 !important;
	font-weight: 600;
}
.darkbo .panel-collapse {
	background-color: #CCC;
}
.darkbo .panel-body, .panel-body.darkbo {
	color: #219ab5;
	background-color: #FFF;
}
.panel-heading.darkbo h3{
	color: #FFF;
}
.darkbo select.form-control:focus option, select.form-control.darkbo:focus option {
	color: #219ab5;
	font :  1em "Roboto Regular";
}
pre.pre-scrollable {
	max-height: 200px;
}
.darkbo .pagination a, .pagination.darkbo a {
	background-image : linear-gradient(90deg, #272B42, #414968);
	margin: 2px;
}
.darkbo .nav-tabs, .nav-tabs.darkbo {
	background-color: #000;
	font :  1em "Roboto Regular";
	line-height: 1;
	border-bottom: 2px solid #FFF;
}
.darkbo .dropdown-toggle, .dropdown-toggle.darkbo {
	transition: all 0.4s;
	color: #0d6eb2;
	font :  1em "Roboto Regular";
	line-height: 1.4;
	font-weight: 800;
	border: none;
  	padding: 18px 10px;
  	margin: 0 10px; 	
}
.darkbo .dropdown-toggle:hover, .dropdown-toggle.darkbo:hover {
	background-color: #272b42;
	color: #FFF;
	border: none;
	border-radius: 0px;
	padding: 18px 10px;
}
.darkbo .dropdown-toggle:focus, .dropdown-toggle.darkbo:focus {
	background-color: #FFF;
	border: none;
	border-radius: 0px;
}
.darkbo .dropdown-toggle:active, .dropdown-toggle.darkbo:active {
	background-color: #219ab5;
	border: none;
	border-radius: 0px;
}
.darkbo .dropdown-toggle:focus:hover, .dropdown-toggle.darkbo:focus:hover {
	color: #219ab5;
	border: none;
	border-radius: 0px;
}
.darkbo .dropdown-menu li a, .dropdown-menu.darkbo li a {
	padding: 8px;
	color: #0d6eb2;
	font :  1em "Roboto Regular";
	font-weight: 600;
	border: none;
}
.darkbo .dropdown-menu li a:hover, .dropdown-menu.darkbo li a:hover {
	color: #219ab5;
}
.darkbo .table, .table.darkbo {
	background-image : linear-gradient(90deg, #272B42, #414968);
	color: #FFF;
}
.darkbo [class="switch"]:not(:checked), .darkbo [class="switch"]:checked, [class="switch darkbo"]:not(:checked),
[class="switch darkbo"]:checked {
  position: absolute;
  opacity: 0.01;
}
.darkbo [class="switch"]:not(:checked) + label, .darkbo [class="switch"]:checked + label, [class="switch darkbo"]:not(:checked) + label,
[class="switch darkbo"]:checked + label {
  position: relative;
  padding-left: 4.5em;
  cursor: pointer;
}
.darkbo [class="switch"]:not(:checked) + label:before, [class="switch darkbo"]:not(:checked) + label:before,
.darkbo [class="switch"]:checked + label:before, [class="switch darkbo"]:checked + label:before,
.darkbo [class="switch"]:not(:checked) + label:after, [class="switch darkbo"]:not(:checked) + label:after,
.darkbo [class="switch"]:checked + label:after, [class="switch darkbo"]:checked + label:after {
  content: '';
  position: absolute;
}
.darkbo [class="switch"]:not(:checked) + label:before, [class="switch darkbo"]:not(:checked) + label:before,
.darkbo [class="switch"]:checked + label:before, [class="switch darkbo"]:checked + label:before {
  left: 0; top: -.1em;
  width: 4em; height: 1.85em;
  border-radius: 1em;
  transition: background-color .2s;
  background: -webkit-linear-gradient(top, #414968 0%, #272b42 100%);
  background: -moz-linear-gradient(top, #414968 0%, #272b42 100%);
  background: -o-linear-gradient(top, #414968 0%, #272b42 100%);
  background: -ms-linear-gradient(top, #414968 0%, #272b42 100%);
  background: linear-gradient(top, #414968 0%, #272b42 100%);
}
.darkbo [class="switch"]:not(:checked) + label:after, [class="switch darkbo"]:not(:checked) + label:after,
.darkbo [class="switch"]:checked + label:after, [class="switch darkbo"]:checked + label:after {
  width: 1.4em; height: 1.4em;
  transition: all .2s;
  border-radius: 50%;
  background: #A44852;
  top: .12em; left: .24em;
}
.darkbo [class="switch"]:checked + label:before, [class="switch darkbo"]:checked + label:before {
  box-shadow: 0px 0px 2px 2px rgba(33, 154, 181, 0.4);
}
[class="switch"]:not(:checked) + label:before, [class="switch darkbo"]:not(:checked) + label:before {
  box-shadow: 0px 0px 2px 2px rgba(164, 72, 82, 0.4);
}
.darkbo [class="switch"]:checked + label:after, [class="switch darkbo"]:checked + label:after {
  background: #FFF;
  left: 2.4em;
}
.darkbo [class="switch"]:checked + label .ui, [class="switch darkbo"]:checked + label .ui,
.darkbo [class="switch"]:not(:checked) + label .ui:before, [class="switch darkbo"]:not(:checked) + label .ui:before,
.darkbo [class="switch"]:checked + label .ui:after, [class="switch darkbo"]:checked + label .ui:after {
  position: absolute;
  left: .6em;
  width: 6em;
  border-radius: 1em;
  font-size: .875em;
  font-weight: bold;
  transition: all .2s;
}
.darkbo [class="switch"]:not(:checked) + label .ui:before, [class="switch darkbo"]:not(:checked) + label .ui:before {
  left: 2.35em;
  top: .2em;
  color: #FFF;
}
.darkbo [class="switch"]:checked + label .ui:after, [class="switch darkbo"]:checked + label .ui:after {
  top: .2em;
  left: .2em;
  color: #FFF;
  line-height: 1.5;
}
.darkbo [class="switch"]:focus + label:before, [class="switch darkbo"]:focus + label:before {
  box-sizing: border-box;
  margin-top: -1px;
}
.darkbo .form-inline .form-group, .form-inline.darkbo .form-group {
	border-bottom: 2px solid #CCC;
	padding: 10px;
}
.darkbo .input-group-addon.add, .input-group-addon.add.darkbo {
    background-image : linear-gradient(90deg, #FFF, #FFF);
    color: #A1A9BF;
    border-radius: 40% 0 0 40%;
    padding: 0 .5rem 0 .5rem;
    border-right: 2px;
}
.darkbo .input-group-addon.remove, .input-group-addon.remove.darkbo {
    background-image : linear-gradient(90deg, #FFF, #FFF);
    color: #414968;
    border-radius: 0 100% 100% 0;
    padding: .5rem 1rem .5rem 1rem;
    border-left: 0px;
    cursor: pointer;
}
.darkbo .form-control.add, .form-control.add.darkbo {
    background-image : linear-gradient(90deg, #FFF, #FFF);
    color: #A1A9BF;
    border-radius: 0;
    border-right: 0;
    padding: 1rem 0 1rem 0;
}
.darkbo input.form-control.add:focus, input.form-control.add.darkbo:focus {
	border: 2px solid #414968;
    border-right: 0;
}
.darkbo .form-control.marques, .form-control.marques.darkbo {
    border-left: 0px;
}
.darkbo .form-control.add.marques:focus, .form-control.add.marques.darkbo:focus {
    border-left: 0;
}
.footer {
    width: 100%;
    height: auto;
    background-color: #111;
    text-align: center;
    padding: 1rem 0;
}
.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}
.fa-linkedin {
    color: #007bb6;
}
.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}
.fa:hover{
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.darkbo .sticky, .sticky-social.darkbo {
   right: 0;
   position: fixed;
   top: 45vh;
    z-index: 1000;
}
.darkbo .sticky li, .sticky.darkbo li {
    margin-bottom: 15px;
}
.darkbo .sticky a, .sticky.darkbo a {
    color: #fff;
    display: block;
    height: 45px;
    position: relative;
    text-align: center;
    line-height: 45px;
    width: 45px;
}
.darkbo .sticky a span, .sticky.darkbo a span {
    line-height: 18px;
    left: 120px;
    position: absolute;
    text-align: left;
    text-decoration: underline;
    width: 350px;
    height: 45px;
    font-size: 14px;
    padding: 5px 0 5px 15px;
}

.darkbo .sticky a:hover span, .sticky.darkbo a:hover span {
    left: -345px;
}
.darkbo .sticky a[class="widget"], .sticky.darkbo a[class="widget"],
.darkbo .sticky a[class="widget"]:hover, .sticky.darkbo a[class="widget"]:hover,
.darkbo .sticky a[class="widget"] span, .sticky.darkbo a[class="widget"] span { background: #A44852; border-radius: 5px 0 0 5px; }

.darkbo .sticky a[class="certificat"], .sticky.darkbo a[class="certificat"],
.darkbo .sticky a[class="certificat"]:hover, .sticky.darkbo a[class="certificat"]:hover,
.darkbo .sticky a[class="certificat"] span, .sticky.darkbo a[class="certificat"] span { background: #A44852; border-radius: 5px 0 0 5px; }