.v4-tease {
	display: block;
    padding: 15px 20px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: #219ab5;
}

header {
    width: 100%;
    position: fixed;
    z-index: 999; 
}
.container {
    z-index: 0;
    position: relative;
}